.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.red{
  color:red;
}
.bold{
  font-weight: 700;
}
.App.custom_app{
  display: flex;
  flex-direction: column;
}
.card{
    margin: 10px;
    box-shadow: 1px 1px 12px 7px #e2e2e2;
    padding: 22px;
    width:25%;
    max-width: 25%;
    position: relative;
    border-radius: 4px;
}
.button_holder{
  width:100%;
}
.card_holder{
  display: flex;
  margin-top:10px;
}
.show_hide_button{
  background:green;
  color:white;
  border-radius:20px;
  padding:15px;
  border:1px solid #fff;
  margin-top:50px;
  
}
.cross{
    background: red;
    color: white;
    font-weight: 700;
    border-radius: 50px;
    padding: 6px;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    position: absolute;
    top: -12px;
    right: -11px;
}